 .lower-canvas {
     width: 100% !important;
     height: 100% !important;
     position: relative !important;
 }

 .upper-canvas {
     width: 100% !important;
     height: 100% !important;
     position: absolute !important;
 }

 .canvas-container {
     width: 100% !important;
     height: auto !important;
     border-radius: 20px;
 }
 .upload-width{
    width: 25%;
 }
 @media (max-width: 786px) {
    .upload-width{
        width: 50%;
    }
 }